:root {
	color: var(--black);
}

::-webkit-scrollbar-thumb {
	background: #b3afb3;
}
::-webkit-scrollbar-thumb:hover {
	background: #b3afb388;
}
::-webkit-scrollbar-track {
	background: #f0f0f0;
	box-shadow: #f0f0f0;
}

::selection {
	color: var(--black);
}

hr {
	border-color: rgb(225, 228, 232);
	background-color: rgb(225, 228, 232);
}

a {
	color: var(--dark-neon);
}
a:visited {
	color: var(--dark);
}
a:hover {
	color: var(--neon);
}
a:focus {
	color: var(--white);
}

blockquote {
	border-left: 0.29em solid var(--light);
	background-color: var(--more-light);
}
blockquote h1 {
	border-color: rgb(193, 195, 200);
}
blockquote h2 {
	border-color: rgb(193, 195, 200);
}
blockquote hr {
	border-color: rgb(193, 195, 200);
}

.badge {
	background-color: var(--more-light);
}

pre,
code {
	background: var(--more-light);
	color: rgb(255, 0, 76);
}

tr:nth-child(even) {
	background: var(--more-light);
}
tr:nth-child(odd) {
	background: var(--white);
}

dark-mode-toggle {
	color: var(--neon);
}

:root {
	background-color: var(--mooore-dark);
	color: var(--white);
}

::-webkit-scrollbar-thumb {
	background: var(--more-dark);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--dark)	;
}
::-webkit-scrollbar-track {
	background: var(--moore-dark);
}

hr {
	border-color: var(--dark);
	background-color: var(--dark);
}

.dark-image {
	filter: invert(100%);
}

blockquote {
	border-left-color: var(--more-dark);
	background-color: var(--moore-dark);
}
blockquote hr {
	border-color: var(--dark);
	background-color: var(--dark);
}

pre,
code {
	background: #000000;
	color: #ff8800cc;
}

.badge {
	background-color: var(--moore-dark);
}

th, td {
	border-color: var(--dark);
}
tr:nth-child(even) {
	background: var(--mooore-dark);
}
tr:nth-child(odd) {
	background: var(--moore-dark);
}

dark-mode-toggle {
	--dark-mode-toggle-color: var(--neon);
	--dark-mode-toggle-dark-icon: url(/static/material-icons/brightness_low_white_24dp.svg);
}