<!DOCTYPE html>
<html lang="{{page.data.lang}}" prefix="og: https://ogp.me/ns#">
	<head>
		{% include "head.liquid" %}
		<meta name="author" content="{{page.data.author}}">
		<meta property="og:type" content="article">
		<meta property="article:published_time" content="{{page.published_date | replace: " +", "+" | replace: " -", "-"}}">
		<meta property="article:author:username" content="{{page.data.author}}">
	</head>
	<body>
		<header>
			{% include "dark-light-switcher.html" %}
			{% include "menu.html" %}
			<h1>{{page.title}}</h1>
			<a id="author" rel="author" href="/about.html">Written by: {{ page.data.author }}</a>
			<time datetime="{{page.published_date | replace: " +", "+" | replace: " -", "-"}}">{{page.published_date}}</time>
		</header>
		<main>
			<article>
				{{page.content}}
			</article>
		</main>
		<footer>
			{% for i in (0..collections.posts.pages.size) %}
				{% if page.title == collections.posts.pages[i].title and page.published_date == collections.posts.pages[i].published_date %}
					{% assign current_index = i %}{% break %}
				{% endif %}
			{% endfor %}
			<nav>
				{% assign prev_index = current_index | plus: 1 %}
				{% if prev_index < collections.posts.pages.size %}
					<a href="/{{collections.posts.pages[prev_index].permalink}}" class="prev-next">&lt;Previous</a>
				{% endif %}
				{% assign next_index = current_index | minus: 1 %}
				{% if next_index >= 0 %}
					<a href="/{{collections.posts.pages[next_index].permalink}}" class="prev-next">Next&gt;</a>
				{% endif %}
			</nav>
		</footer>
	</body>
</html>