<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
	<head>
		{% include "head.liquid" %}
		<meta property="og:type" content="website">
	</head>
	<body>
		<header>
			{% include "dark-light-switcher.html" %}
			{% include "menu.html" %}
			<hgroup>
				<h1>{{ site.title }}</h1>
			</hgroup>
		</header>
		<main>
			{{ page.content }}
		</main>
		<footer id="frontfooter">
			<a href="/posts/archive.html">Archive</a>
			{% include "footer.html" %}
		</footer>
	</body>
</html>